In [1]:
import pandas as pd

In [37]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

In [15]:
df

   calories  duration
0       420        50
1       380        40
2       390        45

Selecting a column
Selecting a row
Selecting row and column combination
Using ILOC
Using LOC

Selecting a columns

In [9]:
df.calories

0    420
1    380
2    390
Name: calories, dtype: int64

In [12]:
df['calories']

0    420
1    380
2    390
Name: cal ories, dtype: int64

Selecting a row
* Using LOC
* Using ILOC

In [16]:
df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

In [17]:
df.iloc[2]

calories    390
duration     45
Name: 2, dtype: int64

Selecting row and column combination
* Using LOC
* Using ILOC

Select specific rows and column

In [18]:
df.loc[[0,1],["duration"]]

   duration
0        50
1        40

Select all rows and one column

In [20]:
df.loc[:,["duration","calories"]]

   duration  calories
0        50       420
1        40       380
2        45       390

Select all columns and one row

In [21]:
df.loc[[0],:]

   calories  duration
0       420        50

Performing this task with ILOC

Select specific rows and column

In [22]:
df.iloc[[0,1],[1]]

   duration
0        50
1        40

Select all rows and one column

In [24]:
df.iloc[:,[0,1]]

   calories  duration
0       420        50
1       380        40
2       390        45

Select all columns and one row

In [38]:
df.iloc[[0,1],:]

   calories  duration
0       420        50
1       380        40

In [41]:
df.iloc[[0,1],:] = [[0,50],[1,3]]

In [42]:
df.iloc[[0,1],:]

   calories  duration
0         0        50
1         1         3

In [32]:
df.columns = ['x','y']

In [33]:
df

     x   y
0    0  50
1  380  40
2  390  45