In [1]:
import pandas as pd

In [2]:
data = {
  "name" : ["Sundar","Ram","Laxmi"],
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]

}

df = pd.DataFrame(data)

info gives you information of column name, no null value count

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3 non-null      object
 1   calories  3 non-null      int64
 2   duration  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

describe() provides basic statistics

In [7]:
df.describe()

         calories  duration
count    3.000000       3.0
mean   396.666667      45.0
std     20.816660       5.0
min    380.000000      40.0
25%    385.000000      42.5
50%    390.000000      45.0
75%    405.000000      47.5
max    420.000000      50.0

dtypes provide column name and their data types

In [9]:
df.dtypes

name        object
calories     int64
duration     int64
dtype: object

shape gives you the number rows and columns in the dataframe

In [5]:
df.shape

(3, 3)

astype can change the datatype of a column

In [8]:
df['name'] = df["name"].astype('str')

value_counts() returns a Pandas Series containing the counts of unique values

In [13]:
df['name'].value_counts()

Laxmi     1
Ram       1
Sundar    1
Name: name, dtype: int64

sort_values() sort the dataframe

In [14]:
df.sort_values(by='name', inplace=True)

unique() gives you unique values in the column

In [10]:
df["name"].unique()

array(['Sundar', 'Ram', 'Laxmi'], dtype=object)

nunique() gives the count of unique values

In [11]:
df.name.nunique()

3