In [1]:
import pandas as pd

In [2]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

In [3]:
df

   calories  duration
0       420        50
1       380        40
2       390        45

Selecting a column
Selecting a row
Selecting row and column combination
Using ILOC
Using LOC

Selecting a columns

In [4]:
df.calories

0    420
1    380
2    390
Name: calories, dtype: int64

In [5]:
df['calories']

0    420
1    380
2    390
Name: calories, dtype: int64

Selecting a row
* Using LOC
* Using ILOC

In [6]:
df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

In [8]:
df.iloc[2]

calories    390
duration     45
Name: 2, dtype: int64

Selecting row and column combination
* Using LOC
* Using ILOC

Select specific rows and column

In [12]:
df.loc[[0,1],["duration"]]

   duration
0        50
1        40

Select all rows and one column

In [13]:
df.loc[:, ["duration"]]

   duration
0        50
1        40
2        45

Select all columns and one row

In [14]:
df.loc[[0],:]

   calories  duration
0       420        50

Performing this task with ILOC

Select specific rows and column

In [16]:
df.iloc[[0,1],[1]]

   duration
0        50
1        40

Select all rows and one column

In [19]:
df.iloc[:, [1]]

   duration
0        50
1        40
2        45

Select all columns and one row

In [20]:
df.iloc[[0],:]

   calories  duration
0       420        50